//colors text

$custom-color-title-section: #6EC1E4;
$custom-color-title-paragraph: #3A3A50;
$custom-color-thin-paragraph: #5E5E5E;
$custom-text-white: #ffff;

//color brand

$custom-primary-color: #6EC1E4;
$custom-secondary-color: #222627;
$custom-tertiary-color: #09C2DD;
//background-card

$custom-transparent-white-cards: #ffffff73;


//font-size section and card
$custom-title-section-size: 42px;
$custom-sub-title-l: 30px; //title or sub-title
$custom-sub-title-m: 24px; //title or sub-title
$custom-sub-title-s: 23px; //title or sub-title

//font-size background-image
$custom-title-xl: 119px;
$custom-title-l: 117px;
$custom-title-m: 72px;
$custom-title-s: 42px;

//btn padding
$custom-btn-padding: 15px 23px 15px 23px;
$custom-btn-border-radius: 3px;